@charset "UTF-8";
:root { --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; --body-font-size: 16px; --body-line-height: 1.5; --border-radius: .4em; --heading-font: Georgia, "Times New Roman", Times, "Palatino Linotype", "Book Antiqua", Palatino, serif; --code-font: "Source Code Pro", Menlo, "Lucida Console", Monaco, "Courier New", Courier, monospace; --spacer: 1rem; --spacer-2: 2rem; --spacer-3: 3rem; /*  Colors ─────────────────────────────────── */ --body-bg: var(--oc-white); --code-bg: var(--oc-gray-1); --border-color: rgb(var(--oc-gray-5-rgb), .6); --body-color-light: var(--oc-gray-6); --body-color: var(--oc-gray-8); --heading-color: var(--oc-black); --link-color-light: var(--oc-blue-6); --link-color: var(--oc-blue-8); --mark-color: var(--oc-yellow-8); }

@media (prefers-color-scheme: dark) { :root { --body-bg: var(--oc-gray-9); --code-bg: var(--oc-gray-8); --border-color: rgb(var(--oc-gray-7-rgb), .8); --body-color-light: var(--oc-gray-6); --body-color: var(--oc-gray-4); --heading-color: var(--oc-white); --link-color-light: var(--oc-cyan-6); --link-color: var(--oc-cyan-4); --mark-color: var(--oc-yellow-4); } }

.align-right { margin-bottom: 1rem; margin-left: 1rem; float: right; }

.align-left { margin-right: 1rem; margin-bottom: 1rem; float: left; }

.align-center { display: block; margin-right: auto; margin-left: auto; }

figcaption.align-right { text-align: right; }

figcaption.align-left { text-align: left; }

figcaption.align-center { text-align: center; }

.message { text-align: center; font-size: 120%; font-weight: bold; }

* { box-sizing: border-box; }

body { font-family: var(--body-font); font-size: var(--body-font-size); line-height: var(--body-line-height); color: var(--body-color); background-color: var(--body-bg); }

a { color: var(--link-color); text-decoration: none; }

a:hover, a:focus { text-decoration: underline; }

figure { margin: 0; }

img { display: block; max-width: 100%; margin: var(--spacer) 0; border-radius: var(--border-radius); }

table { width: 100%; border: 0 solid var(--border-color); border-collapse: collapse; margin: var(--spacer) 0; }

td, th { padding: .25rem .5rem; border-color: inherit; border-style: solid; border-width: 0; border-bottom-width: 1px; }

th { text-align: left; }

thead th { border-bottom-color: currentColor; }

hr { border: 0; border-top: 1px solid var(--border-color); }

mark { padding: .15em .3em; border-radius: var(--border-radius); color: var(--body-bg); background-color: var(--mark-color); }

blockquote { padding-left: 1em; margin: var(--spacer) 0; color: var(--body-color-light); border-left: 0.25em solid var(--border-color); }

blockquote p:last-child { margin-bottom: 0; }

blockquote a { color: var(--link-color-light); }

code, pre { font-family: var(--code-font); }

code { padding: .1em .25em; background-color: var(--code-bg); border-radius: var(--border-radius); }

pre { display: block; overflow: auto; padding: var(--spacer); margin: var(--spacer) 0; }

pre code { padding: 0; background-color: inherit; }

.container { max-width: 48rem; margin: 0 auto; padding: 0 var(--spacer); }

.sidebar-right { display: none; }

@media screen and (min-width: 64rem) { .container { max-width: 100%; margin: 0; padding: 0; display: flex; } main { flex: 1; max-width: 60%; margin-left: 22.5%; padding: 0 var(--spacer-2); } .sidebar-left { position: fixed; top: 0; width: 22.5%; height: 100vh; padding: var(--spacer); background-color: var(--code-bg); } }

@media screen and (min-width: 80rem) { main { max-width: 55%; } .sidebar-right { display: block; position: fixed; top: 0; width: 22.5%; margin-left: 77.5%; padding: var(--spacer); } }

.masthead { padding: var(--spacer) 0; margin-bottom: var(--spacer-3); }

.masthead-title { font-size: 120%; font-weight: bold; color: var(--heading-color); }

.masthead-title:hover, .masthead-title:focus { color: var(--heading-color); text-decoration: none; }

.masthead-tagline { color: var(--body-color-light); }

.nav { margin-top: var(--spacer); }

.nav-list { list-style: none; margin: 0; padding: 0; }

.nav-item { display: inline-block; margin-right: 1em; }

.nav-item:before { content: "/"; }

.nav-item a { color: inherit; }

.nav-item a:hover, .nav-item a:focus { color: var(--link-color); text-decoration: none; }

@media screen and (min-width: 64rem) { .masthead { text-align: center; margin: 0; padding: 0; position: relative; top: 50%; transform: translateY(-50%); } .masthead-title { display: block; font-size: 200%; } .masthead-tagline { display: block; font-size: 100%; } .nav { margin-top: var(--spacer-2); } .nav-item { display: block; margin-right: 0; margin-bottom: var(--spacer); font-size: 120%; } .nav-item:before { content: none; } .nav-item a { border-bottom: 2px solid var(--body-color); } }

.footer { margin: var(--spacer-3) 0; }

.social-icons { list-style: none; padding: 0; height: calc(var(--body-line-height) * var(--body-font-size)); }

.social-icon-item { float: left; margin-right: var(--spacer); }

.social-icon { color: inherit; }

.social-icon:hover, .social-icon:focus { color: var(--link-color); text-decoration: none; }

@media (min-width: 48rem) { .footer { display: flex; } .footer-column { width: 100%; } .social-icons { margin: 0; } }

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .page h1, .page h2, .page h3, .page h4, .page h5, .page h6 { color: var(--heading-color); font-family: var(--heading-font); }

.post-title { margin-bottom: 0; }

.post-title ~ .post-meta { margin-bottom: var(--spacer-2); }

.page-title { margin-bottom: var(--spacer-2); }

.post-meta { color: var(--body-color-light); font-size: .85em; }

#markdown-toc { padding: var(--spacer) var(--spacer-2); margin: var(--spacer-2) 0; border: solid var(--border-color); border-width: 1px 0; }

#markdown-toc::before { display: block; margin-left: calc(var(--spacer-2) * -1); content: "Table of Contents"; font-weight: bold; }

.post-tags-section { display: block; padding: var(--spacer) 0; }

.post-tags-icon { display: inline-block; margin-right: var(--spacer); }

.post-tags { display: inline-block; list-style: none; padding: 0; margin: 0; }

.post-tags li { display: inline-block; margin-right: var(--spacer); }

.post-tags li a { color: inherit; text-decoration: none; }

.post-tags li a:hover, .post-tags li a:focus { color: var(--body-bg); background-color: var(--link-color); }

.post-tag { padding: .1em .5em; border: 1px solid var(--border-color); border-radius: .8em; }

.related { padding: var(--spacer) 0; margin-top: var(--spacer-2); border-top: 1px solid var(--border-color); border-bottom: 1px solid var(--border-color); }

.related h2 { margin-top: 0; }

.related-posts { padding-left: 0; margin: 0; list-style: none; }

.related-posts small { color: var(--body-color-light); }

.task-list { list-style: none; padding-inline-start: 1em; }

.task-list-item-checkbox { margin: 0 .25em .25em -1em; vertical-align: middle; }

.highlight { border-radius: var(--border-radius); background-color: var(--code-bg); }

.rouge-table { margin: 0; font-size: 100%; }

.rouge-table, .rouge-table td, .rouge-table th { border: 0; padding: 0; }

.rouge-table pre { padding: 0; margin: 0; }

.rouge-table .gutter { vertical-align: top; user-select: none; opacity: .25; padding-right: var(--spacer); }

.toc-title { margin: 0; text-align: center; border: 1px solid var(--border-color); border-top-left-radius: var(--border-radius); border-top-right-radius: var(--border-radius); padding: .2em; background-color: var(--code-bg); }

.toc, .toc ul { list-style: none; margin: 0; padding: 0; }

.toc { max-height: 80vh; overflow-y: scroll; margin-left: 0; border: 1px solid var(--border-color); border-top: 0; border-bottom: 0; border-bottom-left-radius: var(--border-radius); border-bottom-right-radius: var(--border-radius); }

.toc a { display: block; border-bottom: 1px solid var(--border-color); color: inherit; }

.toc a:hover, .toc a:focus { text-decoration: none; background-color: var(--border-color); }

.toc li > a { padding-left: .5em; }

.toc ul li > a { padding-left: 1em; }

.toc ul li ul li > a { padding-left: 1.5em; }

.toc ul li ul li ul li > a { padding-left: 2em; }

.toc ul li ul li ul li ul li > a { padding-left: 2.5em; }

.posts { margin-top: var(--spacer-2); }

.post-card { margin-bottom: var(--spacer); padding: 1em; border: 1px solid var(--border-color); border-radius: var(--border-radius); }

.post-card a { color: inherit; }

.post-card a:hover, .post-card a:focus { color: var(--link-color); text-decoration: none; }

.post-card .post-title { font-family: var(--body-font); margin: 0; }

.post-card .post-meta { margin-bottom: 0; }

.pagination { color: var(--body-color-light); text-align: center; }

.pagination-item { display: block; padding: var(--spacer); text-decoration: none; border: solid var(--border-color); border-width: 1px 0; }

.pagination-item:first-child { margin-bottom: -1px; }

a.pagination-item:hover { background-color: var(--border-color); text-decoration: none; }

@media (min-width: 48rem) { .pagination { margin: var(--spacer-3) 0; height: calc(var(--body-font-size) * var(--body-line-height) + var(--spacer) * 2); } .pagination-item { float: left; width: 50%; border-width: 1px; } .pagination-item:first-child { margin-bottom: 0; border-top-left-radius: var(--border-radius); border-bottom-left-radius: var(--border-radius); } .pagination-item:last-child { margin-left: -1px; border-top-right-radius: var(--border-radius); border-bottom-right-radius: var(--border-radius); } }

.taxonomies-wrapper { margin-top: var(--spacer-2); margin-bottom: var(--spacer-2); }

.taxonomies { list-style: none; display: grid; grid-column-gap: 2em; grid-template-columns: repeat(2, 1fr); margin: 0; padding: 0; font-weight: bold; }

.taxonomies .taxonomy { display: flex; padding: 0.25em 0; justify-content: space-between; text-decoration: none; border-bottom: 1px solid; margin-bottom: var(--spacer); color: inherit; }

.taxonomies .taxonomy:hover, .taxonomies .taxonomy:focus { color: var(--link-color); text-decoration: none; }

.post-list-by-taxonomy time { font-family: var(--code-font); }

.back-to-top { display: block; font-size: 0.8em; text-transform: uppercase; text-align: right; text-decoration: none; }

@media (min-width: 35.5rem) { .taxonomies { grid-template-columns: repeat(3, 1fr); } }

.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight, .highlight .w { color: #586e75; }

.highlight .err { color: #002b36; background-color: #dc322f; }

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs { color: #657b83; }

.highlight .cp { color: #b58900; }

.highlight .nt { color: #b58900; }

.highlight .o, .highlight .ow { color: #93a1a1; }

.highlight .p, .highlight .pi { color: #93a1a1; }

.highlight .gi { color: #859900; }

.highlight .gd { color: #dc322f; }

.highlight .gh { color: #268bd2; background-color: #002b36; font-weight: bold; }

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv { color: #6c71c4; }

.highlight .kc { color: #cb4b16; }

.highlight .kt { color: #cb4b16; }

.highlight .kd { color: #cb4b16; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 { color: #859900; }

.highlight .sa { color: #6c71c4; }

.highlight .sr { color: #2aa198; }

.highlight .si { color: #d33682; }

.highlight .se { color: #d33682; }

.highlight .nn { color: #b58900; }

.highlight .nc { color: #b58900; }

.highlight .no { color: #b58900; }

.highlight .na { color: #268bd2; }

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx { color: #859900; }

.highlight .ss { color: #859900; }

@media (prefers-color-scheme: dark) { .highlight table td { padding: 5px; } .highlight table pre { margin: 0; } .highlight, .highlight .w { color: #93a1a1; background-color: #002b36; } .highlight .err { color: #002b36; background-color: #dc322f; } .highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs { color: #657b83; } .highlight .cp { color: #b58900; } .highlight .nt { color: #b58900; } .highlight .o, .highlight .ow { color: #93a1a1; } .highlight .p, .highlight .pi { color: #93a1a1; } .highlight .gi { color: #859900; } .highlight .gd { color: #dc322f; } .highlight .gh { color: #268bd2; background-color: #002b36; font-weight: bold; } .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv { color: #6c71c4; } .highlight .kc { color: #cb4b16; } .highlight .kt { color: #cb4b16; } .highlight .kd { color: #cb4b16; } .highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 { color: #859900; } .highlight .sa { color: #6c71c4; } .highlight .sr { color: #2aa198; } .highlight .si { color: #d33682; } .highlight .se { color: #d33682; } .highlight .nn { color: #b58900; } .highlight .nc { color: #b58900; } .highlight .no { color: #b58900; } .highlight .na { color: #268bd2; } .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx { color: #859900; } .highlight .ss { color: #859900; } }

/*# sourceMappingURL=styles.css.map */